.main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 100px;
    opacity: 0.5;
}

.main-header .menu {
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}
